<footer class="site-footer h-card">
    <div class="wrapper"> 
        <div style="display:grid; width: 100%;">  
            <div style="grid-column: 1"> 
                Mskold AB <br />
                559204-7319<br />
                <a href="mailto:info@mskold.com">info@mskold.com</a>
            </div>
            <div style="grid-column: 2; text-align:center;"> 
                <a href="{{ site.baseurl }}/privacypolicy.html">Privacy </a><br/>
                Copyright © mskold.com All rights reserved.
            </div>
            <div style="grid-column: 3;"> 

            </div>
        </div>
    </div>
</footer>