<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% assign meta_description = page.description | default: site.description %}

<meta name="description" content="{{ meta_description | escape }}">
<meta property="og:description" content="{{ meta_description | escape }}">
<meta name="twitter:description" content="{{ meta_description | escape }}">

<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
