<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>
      {% if page.dir contains 'QueryTilePro' %}Query Tile PRO for Azure DevOps - 
      {% elsif page.dir contains 'WikiPro' %}Wiki PRO for Azure DevOps - 
      {% else %} Enhanced Export PRO for Azure DevOps - 
    {% endif %}
    {{ page.title }} |mskold.com
    </title>
    {% include head.html %}

  </head>
  <body >

      {% include header.html %}
     
      <div class="container-fluid container-middle">
          {{ content }}
      </div>




      {% include footer.html %}

  </body>
</html>
